.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;

  &-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    &-header {
      font-size: 1.5em;
      margin-bottom: 10px;

      span {
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 15px;
      }
    }

    &-body {
      font-size: 1em;
      margin-bottom: 20px;

      form {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: column;
          gap: 5px;

          input {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;

            &:focus {
              outline: none;
              border-color: #8e51ff;
              box-shadow: 0 0 5px rgba(142, 81, 255, 0.5);
            }

            &:disabled {
              cursor: not-allowed;
            }
          }
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      .btn {
        padding: 0.5rem 1rem;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &.btn-save {
          background-color: #8e51ff;
          color: #fff;

          &:hover {
            background-color: #7008e7;
          }
        }

        &.btn-cancel {
          background-color: #79716b;
          color: #fff;

          &:hover {
            background-color: #44403b;
          }
        }
      }
    }
  }
}
