<h2>Counter</h2>
<p>
  A simple counter example using Angular Signals.  
  It uses <code>set()</code> to directly replace the signal’s value (in <code>reset()</code>),  
  and <code>update()</code> to modify the signal based on its previous value (in <code>increment()</code> and <code>decrement()</code>).  
  Each change is instantly reflected in the view without manual subscriptions or change detection.
</p>

<br />

<div class='counter'>
  <p>{{ count() }}</p>
  <div>
    <button (click)="decrement()">-</button>
    <button (click)="increment()">+</button>
    <button (click)="reset()">Reset</button>
  </div>
</div>